html {
    font-size: 12px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* Header */
.ms_header-top {
    background-color: black;
}

.ms_header-top img {
    width: 4%;
}

/* Jumbotron */
.ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.ms_img-title {
    width: 200px;
}

.ms_bgc-red {
    background-color: red;
}

/* Slider */
.ms_img-slider {
    width: 100%;
}

.ms_border-radius-15px {
    border-radius: 15px;
}

/* Main */
.ms_bgc-blu {
    background-color: blue;
}
 
.ms_card-slider:hover {
    border-radius: 15px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid blue;
}

.ms_box:hover {
    border-bottom: 2px solid blue;
    opacity: 0.6;
    box-sizing: border-box;
}

.ms_jumbotron2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.ms_bgc-black {
    background-color: black;
}

.ms_bgc-gray {
    background-color: gray;
}

.ms_bgc-lightgray {
    background-color: lightgray;
}