/* Header */
.ms_header-top {
    background-color: black;
}

/* Jumbotron */
.ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.ms_img-title {
    width: 200px;
}

.ms_bgc-red {
    background-color: red;
}

/* Slider */
.ms_img-slider {
    width: 100%;
}

.ms_border-radius-15px {
    border-radius: 15px;
}
 
.ms_card-slider:hover {
    border-radius: 15px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid blue;
}